/* Base Application Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #ddd;
}

.header {
  color: #fff;
  background-color: #FF5252;
  padding-top: 10px;
}

    .header h1 {
      font-size: 1.5em;
      font-weight: 300;
      padding-bottom: 0.5em;
      margin-bottom: 0px;
    }

    .header h3 {
      font-size: 2em;
      padding-bottom: 0.5em;
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .header h1, h3 {
    text-align: center;
    font-weight: 300;
    padding: 2px;
    margin-bottom: 0px;
    }

    .header img {
      width: 6em;
      margin: 15px auto;
      border-radius: 50px;
      background: #fff;
      display: block;
    }

.navbar {
    width: 100%;
    padding-bottom: 5px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #FF5252;
}

    .navbar ul {
      list-style-type: none; /*to remove bullets*/
      text-align: center;
      margin: 0 auto;
      padding: 0px;
      /*border:1px solid red;*/
      display:table;
      overflow: hidden;
    }

    .navbar li{
      float: left;
      padding: 2px;
      width: 150px;
      margin-left: auto ;
      margin-right: auto ;
    }

.date {
  text-align: center;
  padding-top: 1em;
}

.dish {
  display: block;
  text-align: center;
}

    .dish img {
    width: 20em;
    margin: 40px auto;
    border-radius: 2px;
    background: #fff;
    display: block;
    }

.call-to-action {
  text-align: center;
  margin: 2em;
}

.footer {
  color: #fff;
  background-color: #FF5252;
  text-align: center;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

  .footer ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    /*border:1px solid red;*/
    display:table;
    overflow: hidden;
  }

  .footer li {
    float: left;
    padding: 2px;
    width: 1.8em;
    margin-left: auto ;
    margin-right: auto ;
  }

.icons {
  font-size: 1.8em;
}


/* Overwriting Materialize defaults */
.card .card-image .card-title {
  color: #222;
}












